<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Trace"
  internalLogFile="e:\nlog\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!--要写入的目标-->
  <targets>
    <!--写日志文件-->
    <target name="allfile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}\logs\all-${shortdate}.log" encoding="utf-8" layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    </target>
    <!--另一个文件日志，只有自己的日志。使用一些 ASP.NET core 渲染器-->
    <target name="trace-log" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}\logs\trace-${shortdate}.log" encoding="utf-8" layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    </target>
    <target name="debug-log" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}\logs\debug-${shortdate}.log" encoding="utf-8" layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    </target>
    <target name="info-log" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}\logs\info-${shortdate}.log" encoding="utf-8" layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    </target>
    <target name="warn-log" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}\logs\warn-${shortdate}.log" encoding="utf-8" layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    </target>
    <target name="error-log" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}\logs\error-${shortdate}.log" encoding="utf-8" layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    </target>
    <target name="fatal-log" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}\logs\fatal-${shortdate}.log" encoding="utf-8" layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    </target>
    <!--写入Null，也就是移除-->
    <target name="blackhole" xsi:type="Null" />
  </targets>
  <!--从记录器名称映射到目标的规则-->
  <rules>
    <!--所有的日志，包括来自 Microsoft-->
    <logger name="*" minlevel="Off" writeTo="allfile" />
    <!--跳过Microsoft日志，因此只记录自己的日志-->
    <logger name="Microsoft.*" minlevel="Debug" writeTo="blackhole" final="true"/>
    <logger name="*" level="Trace" writeTo="trace-log" />
    <logger name="*" level="Debug" writeTo="debug-log" />
    <logger name="*" level="Info" writeTo="info-log" />
    <logger name="*" level="Warn" writeTo="warn-log" />
    <logger name="*" level="Error" writeTo="error-log" />
    <logger name="*" level="Fatal" writeTo="fatal-log" />
  </rules>
</nlog>